---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="mt-8 flex flex-wrap gap-4 justify-center">
    <a href={`${import.meta.env.BASE_URL}present-simple`}
      ><button
        class="px-4 py-2 bg-blue-600 text-white rounded shadow hover:bg-blue-700 transition"
        >Present Simple</button
      ></a
    >
    <a href={`${import.meta.env.BASE_URL}past-simple`}
      ><button
        class="px-4 py-2 bg-blue-600 text-white rounded shadow hover:bg-blue-700 transition"
        >Past Simple</button
      ></a
    >
    <a href={`${import.meta.env.BASE_URL}future-simple`}
      ><button
        class="px-4 py-2 bg-blue-600 text-white rounded shadow hover:bg-blue-700 transition"
        >Future Simple</button
      ></a
    >
    <a href={`${import.meta.env.BASE_URL}present-continuous`}
      ><button
        class="px-4 py-2 bg-green-600 text-white rounded shadow hover:bg-green-700 transition"
        >Present Continuous</button
      ></a
    >
    <a href={`${import.meta.env.BASE_URL}past-continuous`}
      ><button
        class="px-4 py-2 bg-green-600 text-white rounded shadow hover:bg-green-700 transition"
        >Past Continuous</button
      ></a
    >
    <a href={`${import.meta.env.BASE_URL}future-continuous`}
      ><button
        class="px-4 py-2 bg-green-600 text-white rounded shadow hover:bg-green-700 transition"
        >Future Continuous</button
      ></a
    >
    <a href={`${import.meta.env.BASE_URL}present-perfect`}
      ><button
        class="px-4 py-2 bg-purple-600 text-white rounded shadow hover:bg-purple-700 transition"
        >Present Perfect</button
      ></a
    >
    <a href={`${import.meta.env.BASE_URL}past-perfect`}
      ><button
        class="px-4 py-2 bg-purple-600 text-white rounded shadow hover:bg-purple-700 transition"
        >Past Perfect</button
      ></a
    >
    <a href={`${import.meta.env.BASE_URL}future-perfect`}
      ><button
        class="px-4 py-2 bg-purple-600 text-white rounded shadow hover:bg-purple-700 transition"
        >Future Perfect</button
      ></a
    >
    <a href={`${import.meta.env.BASE_URL}present-perfect-continuous`}
      ><button
        class="px-4 py-2 bg-pink-600 text-white rounded shadow hover:bg-pink-700 transition"
        >Present Perfect Continuous</button
      ></a
    >
    <a href={`${import.meta.env.BASE_URL}past-perfect-continuous`}
      ><button
        class="px-4 py-2 bg-pink-600 text-white rounded shadow hover:bg-pink-700 transition"
        >Past Perfect Continuous</button
      ></a
    >
    <a href={`${import.meta.env.BASE_URL}future-perfect-continuous`}
      ><button
        class="px-4 py-2 bg-pink-600 text-white rounded shadow hover:bg-pink-700 transition"
        >Future Perfect Continuous</button
      ></a
    >
    <a href={`${import.meta.env.BASE_URL}phrasal-verbs`}>
      <button
        class="px-4 py-2 bg-yellow-600 text-white rounded shadow hover:bg-yellow-700 transition"
        >Frases Verbales</button
      >
    </a>
    <a href={`${import.meta.env.BASE_URL}phrasal-verbs-get`}>
      <button
        class="px-4 py-2 bg-orange-600 text-white rounded shadow hover:bg-orange-700 transition"
        >Phrasal Verbs with Get</button
      >
    </a>
    <a href={`${import.meta.env.BASE_URL}phrasal-verbs-meanings`}>
      <button
        class="px-4 py-2 bg-lime-600 text-white rounded shadow hover:bg-lime-700 transition"
        >Phrasal Verbs Meanings</button
      >
    </a>
  </div>
</Layout>
